.items{
    padding: 10%;
    /* height: 600x; */
    display: flex;
    flex-wrap: wrap;
}

.items>div{
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
}

.itemsss>div>p{
    color: black;
}


@media screen and (max-width:650px) {
    
.items>div{
    width:90%;
}
.items{
    padding: 3%;
}
}